ul {
  list-style: none;
  padding-inline-start: 0;
}

body {
  background-color: #395B64;
  size: auto;
}

img {
  object-fit: cover
}

#introduccion {
  background: cadetblue;
}

h1 {
  color: white;
}

.linkActor {
  color: inherit;
  text-decoration: none;
}

.nombreActor {
  background:
    linear-gradient(to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)),
    linear-gradient(to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.nombreActor:hover {
  background-size: 0 3px, 100% 3px;
}

#noResults {
  margin-top: 20%;
}